body {
    color:white;
    background-color: black;
background-image:url(Sem20tC3ADtulo.png);
height: 100vh;
background-size: cover;
background-position: center;
font-family:fantasy; 

}
ul { display: flex;
    justify-content: space-between;
list-style-type:none;

}

