body{
  background-image: url('Sem20tC3ADtulo.png');
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
background-position: center;


}
ul
{

justify-content: center;
display: flex;
list-style: none;
padding: 199px;
}
a
{
  color: darkred;
  text-decoration:wavy color cyan;
text-shadow: black;
text-shadow: black 16px;
text-size-adjust: 100;
}
.center
{
text-align: center;
}
